<div>
    <h2>Contact Us</h2>
    <h1>LTI Mindtree Limited</h1>
    <h5>Mensa Campus</h5>
    <p>Mahape,MIDC,Navi Mumbai,Maharashtra</p>
</div>
@{
    var dt=DateTime.Now;
    <span>Current Date Time Is: @dt</span>
}
<a href="/home/index/">
    <img src="/images/Dhoni.jpg"/>
</a>

<a href="/home/Index">Go To Index Page</a>